<!DOCTYPE html>
{%extends 'myApp/parent.html'%}
<html lang="en" dir="ltr">
    <body>
        <h1>helo</h1>
        {%block for_child%}
        <div class="jumbotron">
            <div class="container" align ="center">
                <h1>Welcome to PENTAGONSPACE</h1>
                <h2>Rules to take up the test</h2>
                <ul>
                    <li>You are given 1hr of duration</li>
                    <li>No calaculator is allowed</li>
                    <li>Indiscipline is not entertained</li>
                </ul>
            </div>
        </div>
        {%endblock%}
    </body>
</html>